body {
  font-size: 21px;
}

[name="_gotcha"] {
  display: none;
}

form, input {
  width: 100%;
  font-size: inherit;
  padding: 2px 6px 4px;
}

li {
  margin-bottom: 8px;
}

button {
  display: inline-block;
  font-size: inherit;
  padding: 6px 12px 8px;
}

img {
  max-width: 100%;
}

.gang {
  columns: 3 150px;
}

.gang > a {
  display: block;
  margin-bottom: 5px;
}